<div class="address-section">

    <div class="address-body">
    <form [formGroup]="nestedForm">

      <div class="address-container" formArrayName="address">
        <div class="address-item" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
          <h4>Contact details</h4>
          <div class="form-group">
            <div class="first-name">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="input" name="first-name"
                     placeholder="Enter first name"
                     required autofocus>
            </div>
            <div class="last-name">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="input" name="last-name"
                     placeholder="Enter last name"
                     required autofocus>
            </div>
          </div>

          <div class="form-group">
            <div class="email">
              <label>Email</label>
              <input type="text" formControlName="email" class="input" name="email"
                     placeholder="Enter email"
                     required autofocus>
            </div>
            <div class="phone">
              <label>Phone number</label>
              <input type="text" formControlName="phone" class="input" name="phone"
                     placeholder="Enter phone number"
                     required autofocus>
            </div>
          </div>



          <div class="form-group">
            <div class="street">
              <label>Street</label>
              <input type="text" formControlName="street" class="input" name="street"
                     placeholder="Enter street name"
                     required autofocus>
            </div>
            <div class="apartment-number">
              <label>Apartment number</label>
              <input type="text" formControlName="apartmentNumber" class="input" name="apartment-number"
                     placeholder="Enter apartment number"
                     required autofocus>
            </div>
          </div>

          <div class="form-group">
            <div class="zip-code">
              <label>Zip code</label>
              <input type="text" formControlName="zipCode" class="input" name="zip-code"
                     placeholder="Enter zip code"
                     required autofocus>
            </div>
            <div class="city">
              <label>City</label>
              <input type="text" formControlName="city" class="input" name="city"
                     placeholder="Enter city name"
                     required autofocus>
            </div>
          </div>

          <div class="form-group">
            <div class="description">
              <label>Description</label>
              <input type="text" formControlName="description" class="input" name="description"
                     placeholder="Enter description">
            </div>
            <div class="contact-type">
              <label>Address type</label>
              <select formControlName="contactType" name="contact-type"
                      [ngClass]="{'input': true, 'is-invalid': !group.get('contactType').valid && group.get('contactType').touched}">
                <option selected [ngValue]="null">Choose...</option>
                <option *ngFor="let item of addressTypes" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>



          <div class="control-buttons">
            <header class="header" *ngIf="addressArray.length < 2">Add address<button class="btn-add" type="button"
                                                       (click)="addAddress()">+
            </button></header>

            <header class="header" *ngIf="addressArray.length > 1">Remove address<button class="btn-del" type="button"
                                                          (click)="removeAddress(i)">X
            </button></header>
          </div>

        </div>
      </div>

    </form>



  </div>

  <div class="main-summary">
    <div class="methods">
      <header class="header">Chosen payment method</header>
      <div class="payment-wrapper">
        <img [src]="'/assets/payment/' + orderStage?.payment.url" class="img">
        <p class="payment-name">{{ orderStage?.payment.paymentMethod }}</p>
        <p class="payment-desc">{{ orderStage?.payment.description }}</p>
      </div>

      <header class="header">Chosen a shipping method</header>
      <div class="payment-wrapper">
        <img [src]="'/assets/shipment/' + orderStage?.shipment.url" class="img">
        <p class="payment-name">{{ orderStage?.shipment.shipmentMethod }}</p>
        <p class="payment-desc">{{ orderStage?.shipment.description }}</p>
      </div>
    </div>

    <div class="summary-wrapper">
      <header class="header">Summary of the costs</header>
      <div class="summary">
        <div class="summary-1">
          <p class="products-price">products price:</p>
          <p class="shipment-price">shipment price:</p>
          <p class="total-price">total price:</p>
        </div>
        <div class="summary-2">
          <p class="products-price-value">{{productCost}} zł</p>
          <p class="shipment-price-value">{{orderStage?.shipment?.shipmentCost}} zł</p>
          <p class="total-price-value">{{productCost + orderStage?.shipment?.shipmentCost}} zł</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <button class="btn-back" type="button" routerLink="/basket">back</button>
  <button
    [ngClass]="{'btn-next': !nestedForm.invalid, 'btn-non-active': nestedForm.invalid}"
    type="button" [disabled]="nestedForm.invalid" (click)="submitHandler()" routerLink="/summary">next</button>
</div>


