<div class="header-container">

  <header>
    <div class="logo-wrapper">
      <a routerLink="/"></a>
      <p>BOOKSTORE</p>
    </div>
    <div class="search-wrapper">
      <label for="title"></label>
      <input id="title" name="title" type="text" placeholder="search..."/>
    </div>

    <div class="user-wrapper">
      <div class="user">

        <div class="user-submenu" *ngIf="!isLoggedIn">
          <ul>
            <li><a routerLink="/sign-up">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
          </ul>
        </div>
        <div class="user-submenu" *ngIf="isLoggedIn">
          <ul>
            <li *ngIf="userRole === 'ROLE_ADMIN'"><a (click)="goToAdminPanel()">Admin panel</a></li>
            <li><a (click)="goToUserProfile()">User Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>

      <div class="basket">
        <a id="basket-icon" routerLink="/basket"></a>
        <p id="basket-amount" *ngIf="basketAmount !== 0">{{basketAmount}}</p>
      </div>

    </div>
  </header>


  <nav class="menu-bar">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a> </li>
<!--      <li><a routerLink="/books" routerLinkActive="active">Books</a>-->
      <li><a routerLink="/books" (click)="redirectTo('/books')" routerLinkActive="active">Books</a>
        <div class="sub-menu-1">
          <ul>
            <li class="hover-me"><a href="#"><span class="fa-angle-right">Category-1 ></span></a>
              <div class="sub-menu-2">
                <ul>
                  <li><a href="#">Subcategory-1</a></li>
                  <li><a href="#">Subcategory-2</a></li>
                  <li><a href="#">Subcategory-3</a></li>
                </ul>
              </div>
            </li>
            <li class="hover-me"><a href="#"><span class="fa-angle-right">Category-2 ></span></a>
              <div class="sub-menu-2">
                <ul>
                  <li><a href="#">Subcategory-1</a></li>
                  <li><a href="#">Subcategory-2</a></li>
                  <li><a href="#">Subcategory-3</a></li>
                  <li><a href="#">Subcategory-4</a></li>
                </ul>
              </div>
            </li>
            <li class="hover-me"><a href="#"><span class="fa-angle-right">Category-3 ></span></a>
              <div class="sub-menu-2">
                <ul>
                  <li><a href="#">Subcategory-1</a></li>
                  <li><a href="#">Subcategory-2</a></li>
                  <li><a href="#">Subcategory-3</a></li>
                  <li><a href="#">Subcategory-4</a></li>
                  <li><a href="#">Subcategory-5</a></li>
                  <li><a href="#">Subcategory-6</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/audiobooks" routerLinkActive='active'>Audiobooks</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Subcategory-1</a></li>
            <li><a href="#">Subcategory-2</a></li>
            <li><a href="#">Subcategory-3</a></li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/ebooks" routerLinkActive='active'>Ebooks</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Subcategory-1</a></li>
            <li><a href="#">Subcategory-2</a></li>
            <li><a href="#">Subcategory-3</a></li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/bestsellers" routerLinkActive="active">bestsellers</a></li>
      <li><a routerLink="/inpost">new releases</a>
      <li><a routerLink="/contact" routerLinkActive="active">contact</a>

      </li>
    </ul>
  </nav>

</div>


