<div class="header-container">

  <header>
    <div class="logo-wrapper">
      <a routerLink="/"></a>
      <p>BOOKSTORE</p>
    </div>
    <div class="search-wrapper">
      <label for="title"></label>
      <input id="title" name="title" type="text" placeholder="search..."/>
    </div>
    <div class="user-wrapper">
      <a id="user" routerLink="/sign-up"></a>
      <a id="basket" routerLink="/basket"></a>
    </div>
  </header>

  <nav>
      <div class="nav-wrapper">
        <ul class="ul-wrapper">
          <li><a routerLink="/home" routerLinkActive="active">home</a></li>
          <li><a routerLink="/books" routerLinkActive="active">books</a></li>
          <li><a routerLink="/audiobooks" routerLinkActive='active'>audiobooks</a></li>
          <li><a routerLink="/ebooks" routerLinkActive='active'>ebooks</a></li>
          <li><a routerLink="/bestsellers" routerLinkActive="active">bestsellers</a></li>
          <li><a routerLink="/new-releases" routerLinkActive="active">new releases</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
        </ul>
      </div>
  </nav>

</div>


