* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80%;
  background-color: white;
}

.logo-wrapper {
  margin-left: 3em;
}

.logo-wrapper a {
  display: block;
  height: 3em;
  width: 3em;
  background-image: url(src/assets/icons/logo.png);
  background-size: cover;
  margin-right: 1em;
}

.logo-wrapper p {
  text-transform: uppercase;
  font-size: 1.3em;
}

/*BASKET*/

.basket {
  margin-left: 1em;
  position: relative;
}

#basket-icon {
  display: block;
  background-image: url(src/assets/icons/cart.png);
  background-size: cover;
  height: 2.5em;
  width: 2.5em;
}

#basket-amount {
  position: absolute;
  right: -25px;
  top: -1px;
  line-height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background-color: brown;
  /* font-family: monospace; */
  font-family: "Roboto Condensed Medium", Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white;
}

.search-wrapper input {
  border-radius: 50px;
  line-height: 2em;
  width: 25vw;
  min-width: 10em;
  margin-right: 5em;
}

.logo-wrapper, .user-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*USER LOGIN/REGISTER*/

.user-wrapper {
  margin-right: 3em;
}

.user {
  background-image: url(src/assets/icons/user.svg);
  background-size: cover;
  height: 3em;
  width: 3em;
  cursor: pointer;
  transition: all 0.3s ease-out;
  /*margin-right: 1em;*/
}

.user-submenu {
  display: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.user-submenu ul {
  list-style: none;
  color: white;
}

.user-submenu ul li {
  display: block;
  margin: 5px;
  transition: all 0.3s ease-out;

}

.user-submenu ul li a {
  display: block;
  text-decoration: none;
  padding: 5px 60px 5px 40px;
  color: black;
}

.user-submenu ul li:hover {
  background: #b6c7b1;
  border-radius: 5px;
  cursor: pointer;

}

.user:hover .user-submenu {
  display: block;
  position: absolute;
  background: white;
  margin-top: 45px;
  margin-left: -80px;

}

/*navigation version 2*/

.menu-bar {
  background: rgba(33, 127, 215, 1);
  text-align: center;
  width: 100%;
  min-width: 1000px;
  font-size: 1em;
  text-transform: uppercase;

}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: white;
  transition: all 0.3s ease-out;

}

.menu-bar ul li {
  /*width: 130px;*/
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.menu-bar ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-out;
}

.active-2, .menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;

}

.sub-menu-1 {
  display: none;
  transition: all 0.3s ease-out;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgba(33, 127, 215, 1);
  margin-top: 10px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted white;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #b2ff00;
}

.sub-menu-2 {
  display: none;
  transition: all 0.3s ease-out;
}

.sub-menu-2 ul li a {
  transition: all 0.3s ease-out;
}

.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgba(33, 127, 215, 1);

}
