<div class="login-section">
  <div class="card-title">
    <h4>Login</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="form-group">
        <label for="email_address">E-Mail Address</label>
        <div>
          <input type="text"
                 [formControlName]="'username'"
                 id="email_address" class="input" name="email-address" required autofocus>
          <span class="message"
                *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                  Please provide a valid username
                </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div>
          <input type="password"
                 [formControlName]="'password'"
                 id="password" class="input" name="password" required>
          <span class="message"
                *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                  Password cannot be empty
                </span>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="sign-up">Login</button>
        <span class="existing-user">New User? <a routerLink="/sign-up">Sign-up</a></span>
      </div>
      <div class="login-failed" *ngIf='this.isError'>
        <p class="login-failed-text">Login Failed. Please check your credentials and try again.</p>
      </div>
      <div class="login-failed" [ngStyle]="{'background-color': 'green'}" *ngIf="this.registerSuccessMessage">
        <p class="register-success-text">{{registerSuccessMessage}}</p>
      </div>

    </form>
  </div>
</div>
