* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.card-title {
  font-size: 1.8em;
}

.card-body {
  margin-top: 1em;
}

.form-group {
  margin-top: 1em;
  width: 20vw;
}

.input {
  width: 100%;
  line-height: 2.5em;
  border-radius: 20px;
}

.sign-up {
  height: 2.2em;
  width: 30%;
  margin-right: 1em;
  border-radius: 10px;
  font-size: 1.2em;
  transition: all 0.3s ease-out;
}

.sign-up:hover {
  background: rgba(33, 127, 215, 1);
  cursor: pointer;
  color: white;
}

.existing-user {
  font-size: 1.2em;
}

.existing-user a {
  margin-left: 0.5em;
  color: brown;
}
