
<div class="container" *ngIf="productService.product as product">
  <div class="picture"> <img [src]="'/assets/' + product.url" class="img"> </div>
  <div class="details">
    <div> <h2>{{product.name | uppercase}}</h2> </div>
    <div>
      <p> {{product.price | currency:'USD'}} </p>
      <p> {{product.description}}</p> </div>
    <form (ngSubmit)="send()" class="" #form = "ngForm">
      <button class="btn-add" type="button" >Add to cart</button>
      <input type="number" class="amount" [min]="0" [max]="product.stock" [step]="1"/>
    </form>
    <div class="categories">
      Categories:
      <span *ngFor="let category of product.categories; let last = last">{{category.categoryName + (last ? '' : ', ')}}</span>
    </div>
    <button class="btn-back" type="button">Back to shop</button>
  </div>
</div>
