
<div class="container" *ngIf="productService.product as product">
  <div class="picture"> <img [src]="'/assets/' + product.url" class="img"> </div>
  <div class="details">
    <div> <h2>{{product.name | uppercase}}</h2> </div>
    <div>
      <p> {{product.price | currency:'USD'}} </p>
      <p> {{product.description}}</p> </div>
    <div class="add-form">
      <input type="number" class="amount" name="amount" [min]="1" [max]="product.stock"
             [step]="1" value="1" #amountInput/>
      <button class="btn-add" type="button" (click)="onSubmit(product, amountInput.value)">Add to cart</button>
    </div>
    <div class="categories">
      Categories:
      <span *ngFor="let category of product.categories; let last = last">{{category.categoryName + (last ? '' : ', ')}}</span>
    </div>
    <button class="btn-back" type="button" (click)="back()">Back to shop</button>
  </div>
</div>
