<div class="title">
  <div class=""></div>
  <h1 class="">Your basket</h1>
  <div class=""></div>
</div>

<div class="container">
  <table class="content-table">
    <thead>
    <tr>
      <th class="del-field"><button class="btn-add" type="button" (click)="removeAllFromBasket()">del
      </button></th>
      <th class="product-field">Product</th>
      <th class="price-field">Price</th>
      <th class="quantity-field">Quantity</th>
      <th class="value-field">Value</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let basketProductDto of basketProductsDto | async">
      <td><button class="btn-add" type="button" (click)="removeProductFromBasket(basketProductDto)">del</button></td>
      <td><div class="img"><p class="product-name">{{basketProductDto.name}}</p></div></td>
      <td>{{basketProductDto.price}}</td>
      <td><input type="number" [min]="0" [max]="100" [step]="1" [(ngModel)]="basketProductDto.quantity"
                 #quantity="ngModel"
                 (change)="onSelectQuantity(basketProductDto)" /></td>
      <td>{{basketProductDto.price * basketProductDto.quantity}}</td>
    </tr>
    </tbody>
  </table>

  <div class="summary">
    <p class="products-price"><span>{{total}} PLN</span></p>
    <p class="shipment-price"><span>12 PLN</span></p>
    <p class="total-price"><span>{{total + 12}} PLN</span></p>
  </div>
</div>
