/*:host {*/
/*  margin-left: 37px;*/
/*}*/

.title {
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
}

.del-field {
  width: 5%;
}
.product-field {
  width: 45%;
}
.price-field {
  width: 15%;
}
.quantity-field {
  width: 15%;
}

.value-field {
  width: 20%;
}

.product-name {
  margin-left: 1em;
}
.img {
  width: 47px;
  height: 69px;
}

.table-product {
display: flex;
  flex-direction: row;
}

.amount {
  font-size: 1em;
}

.container {
  margin: 30px auto;
  font-size: 0.9em;
  width: 100%;
  min-width: 400px;

}

.summary {
  text-align: end;
}

.content-table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  color: black;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #dddddd;

}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 1.2em;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;

}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #dddddd;

}

.empty-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-basket p {
  font-size: 1.2em;
  margin: 1em;
}

.empty-basket button {
  width: 5em;
  line-height: 1.5em;
  font-size: 1em;
  background: rgba(33, 127, 215, 1);
  color: white;
  border-radius: 5px;
}


.btn-del {
border-radius: 50%;
width: 20px;
  height: 20px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.btn-del:hover {
  cursor: pointer;
}
