<div class="register-section">
      <div class="card-title">
          <h4>Register</h4>
      </div>
      <div class="card-body">
          <form>

            <div class="form-group">
              <label for="email_address">E-Mail Address</label>
              <div>
                <input type="text" id="email_address" class="input" name="email-address" required autofocus>
                <span class="message"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <div>
                <input type="password" id="password" class="input" name="password" required>
                <span class="message"></span>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="sign-up">Sign Up</button>
              <span class="existing-user">Existing user? <a routerLink="/login">Log In</a></span>
            </div>

          </form>
      </div>
    </div>

