.content-wrapper {
  width: 70%;
  margin: auto;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content-wrapper {
  flex-grow: 1;
}

.header, .footer {
  flex-shrink: 0;
}

