


<div class="container">
  <img [src]="'/assets/icons/ok.png'" class="ok">
  <p class="thx">Thank you for your order</p>
  <hr class="pagination-separator"/>
  <p class="info">Thank you for placing the order in our online shop <span class="alwo">alwo-bookstore.pl</span>
    Confirmation and
    order
    details
    have been
    sent to your email address.</p>
<!--  <button class="btn-back" type="button" routerLink="/">Back to shop</button>-->

  <!--<div class="email-wrapper">-->
  <p class="title">sign-up for our newsletter</p>
  <div class="email">
    <label for="email"></label>
    <input id="email" name="email" type="text" placeholder="email:" [formControl]="emailInput"/>
  </div>
  <button class="btn-sign" type="button" (click)="signIn()">SIGN IN</button>
  <!--</div>-->
</div>

