:host {
  margin: 0 51px 21px;
}

.img {
  width: 186px;
  height: 276px;
}

.data-container {
  position: relative;
}

.btn-add{
  background-color: white;
  border-color: white;
  border-style: none;
  background-image: url(src/assets/icons/cart.png);
  background-size: cover;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.1s ease-out;
}

.btn-add:hover {
  height: 2em;
  width: 2em;
  cursor: pointer;
  color: #A71E1E;
}
