<header class="header">Choose payment method</header>
<!--<hr class="header-separator">-->
<div class="payment-wrapper">
  {{ShipmentEnum.CASH}}
  <ng-container *ngFor="let payment of payments">
    <li *ngIf="!(payment.paymentMethod === 'Cash on delivery' && orderStage$.shipment?.shipmentMethod ===
    'Parcel locker')"
        (click)="onSelectPayment(payment)"
        class="payment">
      <div class="radio-wrapper">
        <div [ngClass]="{'radio': true, 'selected': selected === payment.paymentMethod}"></div>
      </div>
      <img [src]="'/assets/payment/' + payment.url" class="img">
      <p class="payment-name">{{ payment.paymentMethod }}</p>
      <p class="payment-desc">{{ payment.description }}</p>
    </li>
  </ng-container>

</div>
