<main class="container">

  <aside class="aside-container">
    <p class="user">ADMIN PANEL</p>
    <ul class="user-options">
      <li><a href="/">Display orders</a></li>
      <li><a href="/">Display users</a></li>
      <li><a href="/">Add product</a></li>
      <li><a href="/">Add category</a></li>
      <li><a href="/">Add shipment method</a></li>
      <li><a href="/">Add payment method</a></li>
      <li><a href="/">Add contact type</a></li>
      <li><a href="/">Edit profile</a></li>
    </ul>
  </aside>

  <section class="main-content">
    <router-outlet></router-outlet>
  </section>


</main>
