:host {
  margin: 0 51px 21px;
}

.img {
  width: 1000px;
  height: 350px;
  margin: 30px auto 20px;
}

.contact {
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 158%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0075em;
  margin: 20px 10px 10px 20px;
  color: #383737;

}

.logo-wrapper {
  display: block;
  height: 3em;
  width: 3em;
  background-size: cover;
  margin-right: 1em;
}

.email-wrapper {
  border-radius: 50px;
  line-height: 2em;
  width: 25vw;
  min-width: 10em;
  margin-right: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
